---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "什麼都找不到了",
	title: "蝦咪攏謀",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 蝦咪攏謀</h1>
	<p class="mb-8">請透過導覽列返回或改查看別的內容</p>
</PageLayout>
