---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "暫時還很普通的程式設計師",
	title: "關於",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">關於我</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>嗨，我是 Aggro 但你可以叫我阿狗。</p>
		<p>
			到目前為止幾乎都是做後端開發，喜歡花時間找問題核心與研究技術原理（當然還有玩遊戲）。不過缺點就是正在燃燒時很容易完全投入，導致廢寢忘食的情況偶有發生。
		</p>
	</div>
	<h1 class="title mt-10 mb-8">部落格名稱</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			由來是穿長靴的貓（ Pussy in Boots ），但將 Pussy
			換為日文的貓（ねこ）並且改用日常接觸的程式碼替換掉靴子。
		</p>
		<p>
			明明被別人叫阿狗，卻用了貓當部落格名稱，我也覺得有點奇怪。不過當時想名稱時就那麼巧的看到了史瑞克裡的鞋貓，就好奇查了英文然後激發了靈感，這都是命運啊！
		</p>
	</div>
</PageLayout>
