---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<nav id="toc-nav" class="hidden lg:fixed lg:right-8 lg:order-2 lg:block lg:w-52 lg:text-right">
	<ul>
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</nav>

<script>
	const tocNav = document.getElementById("toc-nav");
	const articleTitle = document.querySelector("article h1");
	if (tocNav && articleTitle) {
		const titleTop = articleTitle.getBoundingClientRect().top;
		tocNav.style.top = `${titleTop}px`;
	}
</script>
