---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li>
	<a
		href={`#${slug}`}
		class:list={[
			"hover:text-accent block transition-colors",
			depth === 2 && "text-accent mt-4 text-sm font-semibold first:mt-0",
			depth === 3 && "mt-0 text-sm opacity-80 hover:opacity-100",
			depth >= 4 && "mt-0 text-xs opacity-50 hover:opacity-80",
		]}
	>
		{depth === 2 && <span aria-hidden="true"># </span>}{text}
	</a>
	{
		!!children.length && (
			<ul>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
